<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>keybase.darwinbot</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>GOPATH</key>
        <string>/Users/test/go</string>
        <key>SLACK_TOKEN</key>
        <string></string>
        <key>SLACK_CHANNEL</key>
        <string></string>
        <key>GITHUB_TOKEN</key>
        <string></string>
        <key>AWS_ACCESS_KEY</key>
        <string></string>
        <key>AWS_SECRET_KEY</key>
        <string></string>
        <key>KEYBASE_TOKEN</key>
        <string></string>
        <key>BOT_HANDLER</key>
        <string>darwinbot</string>
        <key>PATH</key>
        <string>/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/test/go/src/github.com/keybase/slackbot/keybot/keybot.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/test/Library/Logs/keybase.darwinbot.log</string>
    <key>StandardOutPath</key>
    <string>/Users/test/Library/Logs/keybase.darwinbot.log</string>
</dict>
</plist>
