[Unit]
Description=Run the Keybase prerelease Linux build

[Service]
Type=oneshot
ExecStart=/home/keybasebuild/slackbot/systemd/prerelease.sh

[Install]
WantedBy=default.target
