<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>keybase.keybot.build.darwin</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>GOPATH</key>
        <string>/Users/test/go</string>
        <key>SLACK_TOKEN</key>
        <string></string>
        <key>SLACK_CHANNEL</key>
        <string></string>
        <key>PATH</key>
        <string>/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/test/go/src/github.com/keybase/slackbot/scripts/send.sh</string>
        <string>!keybot build darwin</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>12</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>2</integer>
            <key>Hour</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>2</integer>
            <key>Hour</key>
            <integer>12</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>3</integer>
            <key>Hour</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>3</integer>
            <key>Hour</key>
            <integer>12</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>12</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>12</integer>
        </dict>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/test/Library/Logs/keybase.keybot.build.darwin.log</string>
    <key>StandardOutPath</key>
    <string>/Users/test/Library/Logs/keybase.keybot.build.darwin.log</string>
</dict>
</plist>
